@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero {
    display: flex;
    justify-content: center;
    @include tablet {
        background-color: $color-dark-sec;
        padding: 0 3rem;
    }
    @include desktop {
        display: flex;
        justify-content: center;
        height: 87vh;
    }
    &__video {
        height: 100%;
        width: 100%;
        margin-bottom: 1.5rem;
        @include tablet {
            
            margin: 0 auto;
            
        }
    }
}
