@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Bold.eot');
    src: url('../../assets/Font/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Bold.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Bold.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Regular.eot');
    src: url('../../assets/Font/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/Font/AvenirNextLTPro-Demi.eot');
    src: url('../../assets/Font/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('../../assets/Font/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../../assets/Font/AvenirNextLTPro-Demi.woff') format('woff'),
        url('../../assets/Font/AvenirNextLTPro-Demi.ttf') format('truetype'),
        url('../../assets/Font/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
