@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0 1rem;
    @include tablet{
        margin: 0 1rem;
    }
    &__subtitle {
        text-transform: uppercase;
        color: $color-light;
        font-size: 0.75rem;
        padding-bottom: .5rem;
        font-weight: 600;
    }
    &__div {
        display: flex;
        justify-content: center;
        @include tablet {
            justify-content: flex-start;
        }
        
    }
    &__img {
        background-color: $color-light-sec;
        height: 50vw;
        width: 100%;
        border-radius: 4px;
        align-items: center;
        @include tablet {
            width: 50%;
            height: 23vw;
        }
        @include desktop {
            height: 17vw;
            width: 100%;
        }
    }
}
.greyLine{
    border-top: 1px solid $color-light-sec;
    margin: 0;
    @include desktop {
        border-top: none;
    }
    
}