@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.uploadForm {
    margin: 1rem 1rem 0;
    @include desktop {
        width: 75%;
        height: 100%;
    }
    &__label{
        color: $color-light;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 600;
        @include tablet {
            margin-bottom: 1rem;
        }
        @include desktop {
            border: none;
            height: 2.5rem;
            margin: 1rem 0;
        }
        
    }
    &__textarea{
        color: $color-dark-sec;
        font-family: $font-primary;
        font-size: 0.8125rem;
        width: 100%;
        border: 1px solid $color-light-sec;
        border-radius: 4px;
        height: 6rem;
        margin-bottom: 1rem;
        margin-top: .25rem;
        background-color: $color-accent-sec;
        resize: none;
        &:focus {
            border: 2px solid $color-dark2;
        }
        &:required {
            border: 2px solid red;
        }
        @include tablet {
            height: 6rem;
            padding-bottom: 2rem;
            margin-bottom: 1.5rem;
            font-size: 0.875rem;
        }
        @include desktop {
            align-items: center;
            justify-content: left;
            padding-left: 1rem;
            width: 100%;
            margin-bottom: 1rem;
            margin-top: 0.25rem;
            height: 8rem;
        }   
    }
    &__input{
        color: $color-dark-sec;
        font-family: $font-primary;
        font-size: 0.8125rem;
        width: 100%;
        border: 1px solid $color-light-sec;
        border-radius: 4px;
        height: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: .25rem;
        background-color: $color-accent-sec;
        &:focus {
            border: 2px solid $color-dark2;
        }
        &:required {
            border: 2px solid red;
        }
        @include tablet {
            height: 2.5rem;
            font-size: 0.875rem;
            
        }
        @include desktop {
            align-items: center;
            justify-content: left;
            padding-left: 1rem;
            width: 100%;
            margin-bottom: 2rem;
            margin-top: 0.25rem;
            height: 3rem;
        }
        &__btn {
            @include desktop {
                display: none;
            }
        }
        
    }
    &__btn {
        width: 100%;
        margin-bottom: 1rem;
        
        &--publish{
            @extend .uploadForm__btn;
            @include tablet{
                width: 11.25rem;
            }
        }
        &--cancel{
            @extend .uploadForm__btn;
            background-color: $color-accent;
            color: $color-dark2;
            padding-left: 24px;
            @include tablet {
                width: 11.25rem;
            }
            
        }
        &--div {
            @include tablet {
                display: flex;
                flex-direction: row-reverse;
                width: 50%;
                margin-left: auto;
                justify-content: stretch;
            }
            @include desktop {
                display: none;
                
            }
        }
        
    }
    
    
    
}
.grey-line {
    display: none;
    @include tablet {
        display: flex;
        border-top: 1px solid $color-light-sec;
        width: 100%;
        height: 1px;
        padding-top: 1rem;
    }
    @include desktop {
        display: none;
    }
}





