@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.inputBar {
    &__icon {
        color:$color-light;
    }
    &__input {
        outline: none; 
        width:100%;
        font-family: $font-primary;
    }
    
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    color: $color-dark;
    &:focus {
        outline: none; 
    }
}
